In [1]:
import pandas as pd
data = {
    'Employee ID': [101, 102, 103, 104, 105],
    'Name': ['Ravi Kumar', 'Lakshmi', 'Prakash', 'Sushma', 'Venkatesh'],
    'Department': ['Development', 'Marketing', 'Development', 'HR', 'Development'],
    'Salary': [80000, 60000, 95000, 70000, 95000],
    'Years of Experience': [5, 3, 8, 4, 7]
}
df = pd.DataFrame(data)
print(df)

   Employee ID        Name   Department  Salary  Years of Experience
0          101  Ravi Kumar  Development   80000                    5
1          102     Lakshmi    Marketing   60000                    3
2          103     Prakash  Development   95000                    8
3          104      Sushma           HR   70000                    4
4          105   Venkatesh  Development   95000                    7

In [2]:
print(df.loc[0])

Employee ID                    101
Name                    Ravi Kumar
Department             Development
Salary                       80000
Years of Experience              5
Name: 0, dtype: object

In [3]:
print(df.iloc[0])

Employee ID                    101
Name                    Ravi Kumar
Department             Development
Salary                       80000
Years of Experience              5
Name: 0, dtype: object

In [4]:
filtered_df = df[df['Salary'] > 80000]

In [5]:
print(filtered_df)

   Employee ID       Name   Department  Salary  Years of Experience
2          103    Prakash  Development   95000                    8
4          105  Venkatesh  Development   95000                    7

In [6]:
df.iloc[2,4] = None
df

   Employee ID        Name   Department  Salary  Years of Experience
0          101  Ravi Kumar  Development   80000                  5.0
1          102     Lakshmi    Marketing   60000                  3.0
2          103     Prakash  Development   95000                  NaN
3          104      Sushma           HR   70000                  4.0
4          105   Venkatesh  Development   95000                  7.0

In [7]:
df.iloc[2,4] = None
df_cleaned = df.dropna()
print(df_cleaned)

   Employee ID        Name   Department  Salary  Years of Experience
0          101  Ravi Kumar  Development   80000                  5.0
1          102     Lakshmi    Marketing   60000                  3.0
3          104      Sushma           HR   70000                  4.0
4          105   Venkatesh  Development   95000                  7.0

In [8]:
df_filled = df.fillna(0)
print(df_filled)

   Employee ID        Name   Department  Salary  Years of Experience
0          101  Ravi Kumar  Development   80000                  5.0
1          102     Lakshmi    Marketing   60000                  3.0
2          103     Prakash  Development   95000                  0.0
3          104      Sushma           HR   70000                  4.0
4          105   Venkatesh  Development   95000                  7.0

In [9]:
df['Salary'] = df['Salary'].apply(lambda x: x + 1000)
print(df)

   Employee ID        Name   Department  Salary  Years of Experience
0          101  Ravi Kumar  Development   81000                  5.0
1          102     Lakshmi    Marketing   61000                  3.0
2          103     Prakash  Development   96000                  NaN
3          104      Sushma           HR   71000                  4.0
4          105   Venkatesh  Development   96000                  7.0

In [10]:
import pandas as pd
data1 = {
    'Employee ID': [101, 102, 103],
    'Name': ['Ravi Kumar', 'Lakshmi', 'Prakash']
}
df1 = pd.DataFrame(data1)
data2 = {
    'Employee ID': [101, 103, 104],
    'Salary': [80000, 95000, 70000]
}
df2 = pd.DataFrame(data2)
merged_df = pd.merge(df1, df2, on='Employee ID')
print(merged_df)

   Employee ID        Name  Salary
0          101  Ravi Kumar   80000
1          103     Prakash   95000

In [11]:
data = {
    'Employee ID': [101, 102, 103],
    'Salary': [80000, 60000, 95000],
    'Department': ['Development', 'Marketing', 'Development']
}
df = pd.DataFrame(data)
pivot_df = df.pivot(index='Employee ID',columns='Department', values='Salary')
print(pivot_df)

Department   Development  Marketing
Employee ID
101              80000.0        NaN
102                  NaN    60000.0
103              95000.0        NaN

In [12]:
df['Salary'] = df['Salary'].astype(int)

print(df)

   Employee ID  Salary   Department
0          101   80000  Development
1          102   60000    Marketing
2          103   95000  Development

In [13]:
df_no_duplicates = df.drop_duplicates()
print(df_no_duplicates)

   Employee ID  Salary   Department
0          101   80000  Development
1          102   60000    Marketing
2          103   95000  Development

In [14]:

duplicates = df.duplicated()
print(duplicates)

0    False
1    False
2    False
dtype: bool

In [15]:
df

   Employee ID  Salary   Department
0          101   80000  Development
1          102   60000    Marketing
2          103   95000  Development

In [16]:
import pandas as pd
data = {
    'Employee ID': [101, 102, 103, 101],
    'Name': ['Ravi Kumar', 'Lakshmi', 'Prakash', 'Ravi Kumar']
}
df = pd.DataFrame(data)
df_no_duplicates = df.drop_duplicates()
duplicates = df.duplicated()
print(df_no_duplicates)
print(duplicates)

   Employee ID        Name
0          101  Ravi Kumar
1          102     Lakshmi
2          103     Prakash
0    False
1    False
2    False
3     True
dtype: bool

In [17]:
import pandas as pd
data = {
    'Employee ID': [101, 102, 103, 104, 105],
    'Salary': [80000, 60000, 95000, 70000, 100000]
}
df = pd.DataFrame(data)
Q1 = df['Salary'].quantile(0.25)
Q3 = df['Salary'].quantile(0.75)
IQR = Q3 - Q1
df_no_outliers = df[(df['Salary'] >= Q1 - 1.5 * IQR) & (df['Salary'] <= Q3 + 1.5 * IQR)]
print(df_no_outliers)

   Employee ID  Salary
0          101   80000
1          102   60000
2          103   95000
3          104   70000
4          105  100000

In [18]:
import pandas as pd
data = {
    'Date': ['2021-01-01', '2021-01-02', '2021-01-03'],
    'Sales': [100, 200, 150]
}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
monthly_sales = df.resample('M').mean()
print(monthly_sales)

            Sales
Date
2021-01-31  150.0

<ipython-input-18-d505b6c379ac>:9: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_sales = df.resample('M').mean()